@{
    ViewBag.Title = "About";
}



<div class="row-fluid">
    <div class="span12">
        <h2>Who We Are </h2>
        <p>
            In 2013, three small coffee companies with like-minded people teamed up to discuss the future of coffee in Kansas City. With an agreement to focus on equality throughout the coffee supply chain, high quality products and service, we launched Messenger Coffee. For the first four years, we devoted our time to building relationships with coffee producers and serving other coffee shops with fresh roasted coffee, consulting and barista training. We were building the company and hopping from warehouse to warehouse in the suburbs while searching for the perfect location to call home. In October of 2017, we opened our flagship roasting facility and cafe at 1624 Grand Boulevard in the heart of the city. This big, beautiful space stands as a resource for our wholesale accounts and our customers can now experience our coffee roasting first hand.
            It’s good to be home.
        </p>

        <h2>Company Overview</h2>
        <p>Relationships With Our Farmers / Sourcing</p>
        <p>Quality, Excellence, and the drive to Grow</p>
        <p>Service/s</p>
        <p>Giving</p>
       
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}