@{
    ViewBag.Title = "Confirm Email";
}

<div id="content-wrapper">
    <div id="content-wrapper">
        <section id="about-us" class="white">
            <div class="container">
                <h2>@ViewBag.Title</h2>
                <div>
                    <p>
                        Thank you for confirming your email. Please @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                    </p>
                </div>
            </div>
        </section>
    </div>
</div>