<connectionStrings>
  <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-StoreFront.UI.MVC-20210830051415.mdf;Initial Catalog=aspnet-StoreFront.UI.MVC-20210830051415;Integrated Security=True" providerName="System.Data.SqlClient" />-->
  <add name="DefaultConnection" connectionString="Data Source=.\sqlexpress;Initial Catalog=StoreFront.UI.MVC-2-1-alpha1;Integrated Security=true" providerName="System.Data.SqlClient" />
</connectionStrings>